<div class="search-container">
    <!-- תיבת חיפוש -->
    <mat-form-field class="search-input" appearance="outline" dir="ltr">
      <mat-label>הזן מספר תיק או שם של אחד הצדדים</mat-label>
      <input matInput type="text" [(ngModel)]="searchQuery" />
      <button mat-icon-button matSuffix>
        <mat-icon (click)="serchBy()">search</mat-icon>
      </button>
    </mat-form-field>
  
    <!-- פילטרים -->
    <mat-button-toggle-group 
      class="filter-group" 
      (change)="onTabChange($event)" 
      value="all" 
      appearance="legacy">
      <mat-button-toggle value="0">הכל</mat-button-toggle>
      <mat-button-toggle value="1">תיקים שלי</mat-button-toggle>
      <mat-button-toggle value="2">תיקים פעילים</mat-button-toggle>
      <mat-button-toggle value="3">תיקים סגורים</mat-button-toggle>
    </mat-button-toggle-group>
  </div>